.productCard {
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 16px;
    position: relative;
    text-align: center;
    background-color: rgb(235, 234, 234);
  }
  
  .productImage {
    position: relative;
    width: 100%;
    height: 240px;
  }
  
  .productImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  /* Badge base styles */
  .badge {
    position: absolute;
    padding: 4px 8px;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    font-size: 12px;
  }
  
  /* NEW badge - top left corner */
  .new {
    top: 10px;
    left: 10px;
    background-color: black;
  }
  
  /* OUT badge - centered over image */
  .out {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: gray;
  }
  
  .productName {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    color: #333;
    text-transform: uppercase;
  }
  